# Ignore virtual environment
venv/
ENV/
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model files if very large (optional, but you probably want to keep them)
# model/*.pkl

# Ignore database (optional – if you don’t want to upload your local DB)
data/app.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
